<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tontine</title>


    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

    <!-- Load the script "js/main.js" as our entry point -->
    <script data-main="js/main" src="js/lib/require/require.js"></script>
</head>

<body id="page-top" class="container-fluid" data-spy="scroll" data-target=".navbar-custom">

    <div id="header">
        <div class="header-text"><a href = "/">Tontine</a></div>
    </div>

    <div id="infobar" class="row">
        <div class="col-md-2"></div>

        <div class="col-md-2">
            <button type="submit" class="infobar-add-btn btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

        </div>

    <div class="col-md-4">
        <form role="form">
          <div class="infobar-form form-group">
            <input type="text" class="form-control" id="infobar-searchbox" placeholder="Search">
          </div>
      </form>
    </div>


    <% if (authenticated)  {%>
    <img width="300" height="75" src="<%= tontineUser.photo %>">
    <% }else {%>
    <div class="col-md-4">
        <a href="https://www.yammer.com/dialog/oauth?client_id=OfONHDZ938SqEUudZF2dw&redirect_uri=http://localhost:3000/yammer"><span id="yammer-login"></span></a>
      </div>
    </div>
    <%}%>


      



    <div id="add-item-modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 class="modal-header add-item-modal-header">Add New Item</h4>
                <form role="form">
                    <div class="modal-body">
                        <div class="add-item-modal-form form-group">
                            <label class="add-item-modal-form-label" for="add-item-modal-form-title">Item Title</label>
                            <input type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-title" placeholder="Title">

                            <label class="add-item-modal-form-label" for="add-item-modal-form-description">Item Description</label>
                            <textarea type="text" class="form-control add-item-modal-form-input" id="add-item-modal-form-description" placeholder="Description"></textarea>

                            <label class="add-item-modal-form-label" for="add-item-modal-form-participants">Minimum Number of Participants</label>
                            <input type="number" class="form-control add-item-modal-form-input" id="add-item-modal-form-participants" placeholder="10">

                            <label class="add-item-modal-form-label" for="add-item-modal-form-cost">Cost Per Person</label>
                            <div class="input-group add-item-modal-form-input">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control " id="add-item-modal-form-cost" placeholder="99">
                            </div>

                            <label class="add-item-modal-form-label" for="add-item-modal-form-deposit-percentage">Deposit Percentage</label>
                            <select class="form-control add-item-modal-form-input" id="add-item-modal-form-deposit-percentage">
                              <option>25%</option>
                              <option>50%</option>
                              <option>75%</option>
                              <option>100%</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Core JavaScript Files -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script type="text/javascript" src="https://assets.yammer.com/assets/platform_embed.js"></script>
    <script type="text/javascript" data-app-id="OfONHDZ938SqEUudZF2dw" src="https://assets.yammer.com/assets/platform_js_sdk.js"></script>
    <script> yam.connect.loginButton('#yammer-login', function (resp) { if (resp.authResponse) { document.getElementById('yammer-login').innerHTML = 'Welcome to Yammer!'; } }); </script>

</body>

</html>
