body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.header-text {
    font-size: 40px;
}

/* Info Bar Styles */

.infobar-add-btn {
    display: inline-block;
}

#infobar form {
    width: 400px;
    display: inline-block;
}

#infobar-searchbox {
    width: 400px;
}


#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}
.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}

 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
/*.backers img{
	float: left;
}*/

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 

 * {
  margin: 0;
  padding: 0;
}
 
 
ul {
  list-style-type: none;
}
/*li img {
  float: left;
  margin: 0 15px 0 0;
}*/

li img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;
}
 
li {
  padding: 5px;
  overflow: auto;
}
 
/*li:hover {
  background: #eee;
  cursor: pointer;
}*/

#add-item-modal {
    width: 100%;
}

.add-item-modal-header {
    margin-left: 20px;
}

.add-item-modal-form {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.add-item-modal-form-label {
    font-size: 15px;
    margin-bottom: 10px;
}

.add-item-modal-form-input {
    margin-bottom: 10px;
}
