body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.header-text {
    font-size: 40px;
}

/* Info Bar Styles */

.infobar-add-btn {
    display: inline-block;
}

#infobar form {
    width: 400px;
    display: inline-block;
}

#infobar-searchbox {
    width: 400px;
}

#add-item-modal {
    width: 100%;
}

.add-item-modal-header {
    margin-left: 20px;
}

.add-item-modal-form {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.add-item-modal-form-label {
    font-size: 15px;
    margin-bottom: 10px;
}

.add-item-modal-form-input {
    margin-bottom: 10px;
}
